.container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  flex-direction: column;
}

.count-wrapper {
  width: 80%;
  background: #f56161;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  padding: 5px 20px;
  background: #4043e6;
  color: rgb(218, 218, 218);
  font-size: 20px;
  margin: 0 5px;
}